@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
:root {
  --body-bg-color: #becbd2;
  --body-color-light: #8b939c;
  --body-font: "Roboto", sans-serif;
  --page-bg-color: #dfe5e8;
  --body-color: #607d8b;

  --card-color:#f5f7f8;
  --border-color: #b8bec3;
  --placeholder: #ccd0d2;
  --color-bleue: #22cdec;
  --color-pink:#ff6dbe;
  --color-yellow: rgb(251, 145, 36);
  --color-purple:rgb(167, 100, 236);
  --color-bleue-alpha: rgba(34, 205, 236, .5);
  --color-pink-alpha:rgba(255, 109, 190, .5);
  --color-yellow-alpha: rgba(251, 145, 36, .5);
  --color-purple-alpha:rgba(167, 100, 236, .5);

}

.test {
  color: #cbb5e2;
  color: #fbadaf;
  color: #a4e0eb;
  color: #edb9d6;
  color: #fdca95;
}

.light-next{
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -40px;
  margin-right: 20px;
  width: 40px;
  height:40px;
  background-color: var(--color-yellow);
  border: 0px;
  color: #FFF;
  border-radius: 50%;
  cursor: pointer;
}


.light-prev{
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -40px;
  margin-left: 20px;
  width: 40px;
  height:40px;
  background-color: var(--color-purple);
  border: 0px;
  color: #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.light-next:hover{
  /* background-color: #fb9124; */
  background-color: var(--color-yellow-alpha);
}

.light-prev:hover{
  /* background-color: #fb9124; */
  background-color: var(--color-purple-alpha);
}


/*loading*/
.spanloader {
  position: fixed;
  top: 50%;
  margin-top:-80px;
  width: 80px;
  height: 80px;
}
.spanloader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

/* mode sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #303030;
    --page-bg-color: #3a3a3a;
    --card-color:#444444;
    --body-color: #c0c0c0;

    --body-color-light: #8b939c;

  }
  }

[data-theme="dark"] {
    --body-bg-color: #303030;
    --page-bg-color: #3a3a3a;
    --card-color:#444444;
    --body-color: #c0c0c0;

    --body-color-light: #8b939c;

  }

  [data-theme="light-blue"] {
    --body-bg-color: #d0ecf7;
    --page-bg-color: #e7f5fb;
    --card-color:#f8fcfe;
    --body-color: #87ceeb;

    --body-color-light: #8b939c;

  }

  [data-theme="light-green"] {
    --body-bg-color: #d1e7b7;
    --page-bg-color: #e8f3db;
    --card-color:#f8fbf4;
    --body-color: #466522;

    --body-color-light: #8b939c;

  }

  [data-theme="grey"] {
    --body-bg-color: #4f4f4f;
    --page-bg-color: #5f5f5f;
    --card-color:#6f6f6f;
    --body-color: #c5c5c5;

    --body-color-light: #8b939c;

  }

  [data-theme="deep-purple"] {
    --body-bg-color: #c1ade5;
    --page-bg-color: #e0d6f2;
    --card-color:#f6f3fb;
    --body-color: #673ab7;

    --body-color-light: #8b939c;
 
  }

  [data-theme="deep-orange"] {
    --body-bg-color: #ffbca7;
    --page-bg-color: #ffddd3;
    --card-color:#fff5f2;
    --body-color: #f6b352;

    --body-color-light: #8b939c;
 
  }

  /* test mode sombre */

  /* html {
    filter: invert(1) hue-rotate(.5turn);
  }

  img {
    filter: invert(1) hue-rotate(.5turn);
  }

  img:not(:hover) {
    opacity: .7;
    transition: opacity .25s ease-in-out;
  } */


* {
  outline: none;
}

img {
  max-width: 100%;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes slides-set-1 {
  0% {
    opacity: 1;
  }
  31% {
    opacity: 1;
    transform: scale(1);
  }
  34% {
    opacity: 0;
    transform: scale(1.05);
  }
  97% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slides-set-2 {
  0% {
    opacity: 0;
    right: -1800px;
  }
  10% {
    opacity: 1;
    right:0;
  }
  90% {
    opacity: 1;
    left:0px;
  }
  100% {
    opacity: 0;
    left:-1800px;
  }
}

@keyframes gradient-set {
  0% {
      background-position: 0% 50%
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0% 50%
  }
}


@keyframes image_scale {
  
    0% { transform: scale(1);}
    40% { transform: scale(1.6);}
    50% {transform: scale(1);}
}

@keyframes image_blur {
  
    0% { filter: blur(3px);}
    40% { filter: blur(3px);}
    50% {tfilter: blur(0px);}
}


/* lightbox */
#lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
	top: 0;
	left: 0;

}

#lightbox div{
  background: rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lightbox img {
  /** Pad the lightbox image */
  width:80%;
  max-height:80%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}


/* stop slider */
#slider-header {
  /* background-color:   #fbadaf; */
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  padding: 0px 50px 0 50px;
  animation: gradient-set 20s ease infinite;
}
#slider_img {
  /*object-fit: cover;
  object-position: center;
  backface-visibility: hidden;
  width: 100%;
  height:300px;
  bottom: -50px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: -2px 6px 19px 0px rgba(0, 0, 0, 0.4);

  animation: 20s slides-set-2 -0.2s infinite;*/

}

.slider {
    width: 100%;
    height: 300px;
    bottom: -50px;
    position: relative;
    transform: translateZ(0);
    overflow:hidden;
    border-radius: 2px;
    box-shadow: -2px 6px 19px 0px rgba(0, 0, 0, 0.4);
}
.slider .photos {
    position: relative;
    height: 100%;
}
.slider .block {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    /*transition: opacity 1s;*/
    transition: opacity 2s ease;
}

.slider .block.active {
    opacity: 1;
    animation: 10s image_scale 4s infinite;
    overflow:hidden;
    transform: translateZ(0);
}


/*menu drop */
.profile-menu:hover{
  -webkit-text-stroke: .3px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 10px;
  left: -50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* The hamburger button hidden inside an input element */
#menuToggle input {
  display: block;
  width: 80px;
  height: 20px;
  position: absolute;
  top: -7px;
  left: -10px;
  padding: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle label {
  position: relative;
  display: block;
  height: 30px;
}
#menuToggle label span {
  display: none;
}

/*
 * Use absolute positioning to place the menu off-screen
 */
#menu {
  position: absolute;
  width: 195px;
  height:254px;
  overflow: auto;
  margin: 10px 0 0 121px;
  padding: 25px 25px 25px 50px;
  background-color: var(--page-bg-color);
  list-style-type: none;
  /* Hide the menu off-screen to the left */
  left: 0;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 1;

  font-size: 14px;
  font-weight: 400;

}

#menu::-webkit-scrollbar {
  overflow: auto;
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

#menu::-webkit-scrollbar-thumb {
  background: #818181;
}


#menu a {
  text-decoration: none;
  color: var(--body-color);
}

#menu li a:hover {
  filter: hue-rotate(40deg);
  -webkit-text-stroke: .3px;
}

#menu li {
  padding: 10px 0;
}

#menu li .active {
  filter: hue-rotate(40deg);
  -webkit-text-stroke: .3px;
}

/*
 * Slide the menu in from left when the input is checked
 */
#menuToggle input:checked ~ ul {
  left: -290px;
}


/*fin menu */

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color:var(--body-bg-color);
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--body-color);
  font-weight: 400;
  margin: 0;
}

.likes, .year-book, .author, .main-menu, .profile-menu, .profile-color, .profile, .browse-category, .browse, .header {
  display: flex;
  align-items: center;
}

.likes {
  margin: 10px 0 0px 0;
}

.book-store {
  display: flex;
  flex-direction: column;
  max-width: 1400px;

  background-color: var(--page-bg-color);
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
}

.header {
  height: 70px;
  background-color: var(--page-bg-color);
  padding: 0 30px;
  font-size: 15px;
  font-weight: 500;
  color: var(--body-color-light);
  justify-content: space-between;
  flex-shrink: 0;
}

.header a {
  color: var(--body-color-light);
  text-decoration: none;
}

.header a:hover {
  -webkit-text-stroke: .3px;
}


.search-bar {
  position: relative;
}
.search-bar input {
  height: 100%;
  width: 100%;
  display: block;
  font-size: 15px;
  background-color: transparent;
  border: none;
  font-weight: 600;
  padding: 0 10px 0 40px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238b939c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 15px 50%;
  color: var(--body-color);
  font-family: var(--body-font);
}
.search-bar input::placeholder {
  color: var(--placeholder);
}

.browse-category {
  border-right: 1px solid var(--border-color);
  white-space: nowrap;
  padding: 0 20px 0 20px;
}
.browse-category svg {
  width: 16px;
  margin: 0px 10px 0 8px;
}

.header-title {
  font-size: 16px;
  font-weight: 400;
  margin-right: auto;
  margin-left:auto;
  text-align:center;
}
.header-title span {
  font-weight: 500;
  color: var(--body-color);
}

.user-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-profile {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}


.profile {
  flex-shrink: 0;
  padding-right: 20px;
}
.profile-menu {
  border-left: 1px solid var(--border-color);
}

.profile-color {
  padding-right:20px;
}
.profile svg {
  width: 16px;
  margin: 0 8px 0 15px;
  flex-shrink: 0;
}


.book-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-title {
  color: #ffffff;
  font-weight: 600;
}

.book-author {
  margin-top: 3px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.book-content {
  padding: 0 20px;
  color: #ffffff;
  overflow: hidden;
}

fieldset,
label {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size: 0.5em;
  margin: 10px;
}

.rating {
  border: none;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin-right: 5px;
  margin-top: 10px;
  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "ï€…";
}

.rating > label {
  color: #fff;
  float: right;
}


.book-voters {
  color: #fff;
  vertical-align: sub;
  font-size: 13px;
  margin-left: 7px;
  white-space: nowrap;
  margin-top: 7px;
}

.book-sum {
  margin: 20px 20px 20px 0px;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.book-button {
  display: flex;
  justify-content: space-between;
  margin: 40px -20px 0 -20px;
}

.book-button li {
  flex: auto;
  list-style-type : none;
}

.book-see {
  text-align: center;
  background-color: none;
  color: #fff;
  font-weight: 600;
  padding: 15px;
  font-size: 14px;
}

.book-card .book-see a {
  color: #fff;
}



.book-see.book-blue {
  background-color: var(--color-bleue);
}
a:hover .book-see.book-blue  {
  background-color: var(--color-bleue-alpha);
}
.book-see.book-pink {
  background-color: var(--color-pink);
}
a:hover .book-see.book-pink  {
  background-color: var(--color-pink-alpha);
}
.book-see.book-yellow {
  background-color: var(--color-yellow);
  /* background-color:#fdca95 ; */
}
a:hover .book-see.book-yellow {
  /* background-color: #fb9124; */
  background-color: var(--color-yellow-alpha);
}
.book-see.book-purple {
  background-color:var(--color-purple);
}
a:hover .book-see.book-purple  {
  background-color:var(--color-purple-alpha);
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-top: 100px;
  overflow: hidden;
}

.books-of {
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.popular-books {
  flex-grow: 1;
  padding: 0 30px 50px;
  overflow-y: auto;
}

.genre {
  font-weight: 500;
  font-size: 15px;
}

.main-menu {
  white-space: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcddde;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--page-bg-color);
  z-index: 2;
}

.book-types {
  margin-left: auto;
}
.book-types a {
  text-decoration: none;
  color: var(--body-color);
  font-size: 14px;
}

.book-type + .book-type {
  margin-left: 20px;
}

.book-type {
  position: relative;
  transition: 0.2s;
}
.book-type.active, .book-type:hover {
  -webkit-text-stroke: 0.3px;
}
.book-type.active:before, .book-type:hover:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: -17px;
  left: 0;
  margin: 0 0 0 25%;
  background-color: var(--body-color);
  box-shadow: 0px -1px 5px 0px var(--body-color);
  filter: hue-rotate(40deg);
}



.week {
  padding: 0 30px;
}

.author + .author {
  margin-top: 20px;
}
.author-name {
  font-size: 14px;
}
.author:last-child {
  margin-bottom: 40px;
}

.author-title {
  padding: 0 0 20px;
  font-weight: 500;
  font-size: 15px;
}

.author-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f2f5f7 65%, #f2f5f7 100%);
  height: 60px;
  margin-left: -35px;
}

.book-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding-top: 40px;
  position: relative;
}

.book-card {
  margin-top: 20px;
  background-color: var(--card-color);
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;

  padding: 0 20px 20px 20px;
  color: var(--body-color-light);

}

.book-card a {
  text-decoration: none;
  color: var(--body-color-light);
}

.book-card:hover {
  transform: scale(1.04);
}



.book-card-img, .book-card-img-info {
  width: 100%;
  height: 150px;
  /* margin: -20px 0 20px 0; */
  /* box-shadow: 0px 1px 7px 2px #c7c9d3; */
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.book-card-img-info2 {
  width: 100%;
  height: 250px;

  /* box-shadow: 0px 1px 7px 2px #c7c9d3; */

  border-bottom: 1px solid #dcddde;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}


.content-image {
  height: 150px;
  margin: -20px 40px 20px 0;
  /* box-shadow: 0px 1px 7px 2px #c7c9d3; */
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
}

.content-image2 {
  height: 250px;
  margin: 20px 0 0px 0;
  /* box-shadow: 0px 1px 7px 2px #c7c9d3; */
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
}

.content-image img, .content-image2 img {
  transition: transform .5s ease;

}

.book-card-img-info:hover, .book-card-img-info2:hover {
  opacity: 0.8;
  transform: scale(1.2);
}


.card-content {
  color: var(--body-color);
  padding: 20px 0px 10px 0px;
  overflow: hidden;
  position: relative;
  
}

.book-name {
  font-weight: 500;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-by {
  font-size: 14px;
  color: var(--body-color-light);
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-version {
  float: right;
  font-size: 16px;
  margin: -30px 0 0 0;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-rate > label {
  color: #cccccc;
}

.rate {
  display: inline-block;
  white-space: nowrap;
}

.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:hover,
.book-rate:not(:checked) > label:hover ~ label {
  color: #ff9700;
}

.book-rate > input:checked + label:hover,
.book-rate > input:checked ~ label:hover,
.book-rate > label:hover ~ input:checked ~ label,
.book-rate > input:checked ~ label:hover ~ label {
  color: #ff9700;
}

.card-vote {
  color: var(--body-color-light);
}

.card-sum {
  color: var(--body-color-light);
  font-size: 13px;
  line-height: 1.6em;
  -webkit-line-clamp: 4;
  margin-top: 15px;
}

.content-wrapper {
  display: flex;
  border-bottom: 1px solid #ebedef;
  position: relative;
  flex-direction: column;
}

.content-wrapper:before {
  content: "";
  position: absolute;
  background-color: #8f98a9;
  background-color: #aaaebc;
  box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  right: 0;
  top: 17px;
  border-radius: 50%;
  margin-left: auto;
}


.like-profile {
  margin-top: 8px;
}
.like-profile + .like-profile {
  margin-left: -5px;
}

.like-img {
  border-radius: 50%;
  width: 24px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.like-name {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.like-name span {
  font-weight: 600;
}

.like-name a:hover {
  color:var(--body-color);
}

@media (max-width: 1103px) {
  .book-cell {
    width: 60%;
  }
}
@media (max-width: 765px) {
  .book-cell {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .book-cell {
    width: 100%;
  }
}
@media (max-width: 458px) {
  .book-photo {
    width: 180px;
  }

  .book-voters {
    display: none;
  }
}
@media (max-width: 420px) {
  .book-see {
    width: 120px;
    font-size: 13px;
  }

  .book-photo {
    width: 130px;
  }

  .main-wrapper {
    margin-top: 50px;
  }
}
@media (max-width: 360px) {
  .rating > label:before {
    font-size: 0.8em;
  }
}
@media (max-width: 1220px) {
  .card-vote {
    display: none;
  }
}
@media (max-width: 1085px) {
  .book-rate > label {
    font-size: 0.7em;
  }
}
@media (max-width: 1045px) {
  .books-of {
    display: none;
  }
}
@media (max-width: 725px) {
  .browse-category, .search-bar {
    display: none;
  }

  .header-title {
    margin-right: auto;
  }

  .book-cards {
    grid-template-columns: 1fr;
  }

  .book-types {
    display: none;
  }
}
@media (max-width: 372px) {
  .card-content {
    padding: 20px;
  }
}
